body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(20, 20, 20);
  overflow-y: hidden;
}

#calculator {
  background-color: rgb(146, 146, 146);
  border-radius: 15px;
  overflow: hidden;
  overflow-y: hidden;
}

#display {
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
}

button:hover {
  background-color: hsl(0, 0%, 40%);
}

button:active {
  background-color: hsl(0, 0%, 50%);
}

.operator-btn {
  background-color: hsl(38, 100%, 50%);
}

.operator-btn:hover {
  background-color: hsl(38, 100%, 55%);
}

.operator-btn:active {
  background-color: hsl(38, 100%, 65%);
  border-radius: 50px;
}

button {
  border-radius: 50px;
  border: none;
  color: white;
  background-color: hsl(0, 0%, 30%);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (min-width: 360px) {
  body {
    padding: 0 20px;
    overflow: hidden;
  }

  #calculator {
    overflow: hidden;
  }

  #display {
    width: 100%;
    padding: 35px;
    font-size: 2rem;
  }

  button {
    width: 65px;
    height: 65px;
    font-size: 1.5rem;
  }

  #keys {
    gap: 10px;
    padding: 25px;
  }
}

@media only screen and (min-width: 449px) {
  body {
    padding: 0 20px;
    overflow-y: hidden;
  }

  #calculator {
    overflow-y: hidden;
  }

  #display {
    width: 100%;
    padding: 30px;
    font-size: 2rem;
  }

  button {
    width: 75px;
    height: 75px;
    font-size: 2rem;
  }

  #keys {
    gap: 10px;
    padding: 25px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding: 0;
  }
  #display {
    width: 100%;
    padding: 20px;
    font-size: 2rem;
  }

  button {
    width: 65px;
    height: 65px;
    font-size: 1.5rem;
  }

  #keys {
    gap: 10px;
    padding: 25px;
  }
}

@media only screen and (min-width: 1025px) {
  body {
    padding: 0;
    margin: 0;
  }

  #calculator {
    max-width: 1000px;
  }

  #display {
    width: 100%;
    padding: 50px;
    font-size: 2rem;
  }

  button {
    width: 100px;
    height: 100px;
    font-size: 2.5rem;
  }

  #keys {
    gap: 10px;
    padding: 25px;
  }
}
